openpyxl==3.0.5
networkx==2.5.1
opencv-python-headless
matplotlib==3.3.3
anastruct==1.2.0
streamlit==0.82.0
numpy==1.19.4
pandas==1.1.4
Pillow==8.4.0
plotly==5.4.0
pyrebase5 == 5.0.1
click==7.0
